@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
 	src:local('Open Sans'), 
 		local('OpenSans'),
/* 		url("../font/OpenSans-Regular.ttf") format('truetype'), */
/* 		url("../font/OpenSans.woff") format('woff'); 		*/
}

body {
    padding:0;
    margin:0;
    background-color:white;    
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;    
}

#main {
    /* these two margins settings are here just to ensure that jsPlumb handles
    margins properly.*/  
    margin-top:0;
    margin-left: auto;
    position: relative;
    /* font-size: 80%; */
    margin-right: auto;
    width: 850px;
    border-left: 2px solid #456;
    border-right: 2px solid #456;
    border-bottom: 2px solid #456;
    height: 1600px;
    /* overflow: hidden; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:#eaedef;
}

#sidebar {            
    margin-left:auto;
	margin-right:auto;
    width:800px;        
    font-size:13px;    
}

a, a:visited {
    text-decoration:none;
    color:#01a3c6;    
    font-family:helvetica;
    padding:0.3em;
    border-radius:0.2em;
}

a:hover {
    color:#1b911b;
}

.selected {
	color:rgb(189,11,11) !important;
}

.window, .label { 
    background-color:white;
    text-align:center;
    z-index:24;
	cursor:pointer;
	box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
}
path, ._jsPlumb_endpoint { cursor:pointer; }

/* z index stuff. windows are at z-index 24. */

._jsPlumb_connector { z-index:18; }
._jsPlumb_endpoint { z-index:19; }
._jsPlumb_overlay { z-index:20; }

._jsPlumb_connector._jsPlumb_hover {
    z-index:21 !important;
}

._jsPlumb_endpoint._jsPlumb_hover {
    z-index:22 !important;
}

._jsPlumb_overlay._jsPlumb_hover {
    z-index:23 !important;
}

.component {
	
	opacity:0.8; 
	filter:alpha(opacity=80);
	background-color:white;
	color:black;
	font-family:helvetica;
	padding:0.5em; 
	
}

.window { 
	border:2px solid #346789; 
 	width:24em; 
 	height:4em;
	left: 4em;
	/* line-height: 3em;	 */
	position:absolute; 
	font-size:0.8em;
	border-radius:0.5em;
	padding: 5px;
}

.window h2.handle {
	float: left;
	margin-left: 1em;
	width: 2em;
	height: 0.5em;
	border:3px dashed #998822;
	background-color: green;
}

.window img {
	float: left;
	margin: 0;
}

.window .edit {
	float: right;
	margin-right: 1em;
	width: 2em;
	background-color: blue;
	height: 0.5em;
	border:1px dashed #ee3377; 
}

.window a {
	font-size: 1.8em;
}

#detail {
	display: none;
	height: 20em;
	width: 80%;
	margin-left: 6%;
	background-color: #edc;
	padding: 2em;
	z-index: 25;
	position: absolute;
	box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
	border-radius:0.3em;
}

.label {
	border:1px solid #346789; 
	padding:8px;
	padding:8px;
}
.label:hover {
border-color:#5d94a6;	
}

.l1 { 
	font-size:13px;
	 
}

.hl { border:3px solid red; }

/*        SVG styles.  Apart from the fact that SVG uses far less memory than Canvas, you can style it!   
.c1 path, .l1arrow { 
	stroke-dasharray:40 20 40; 
	stroke-linecap:round;
	stroke-opacity:0.5;
	fill-opacity:0.5;	
}
*/
